/* Master Styles */

body {
    margin: 0px;
    font-family: 'Roboto Slab', serif;
}

/* .container  {
    display: grid;
    grid-template-columns: 1fr;
} */


/* skewed Header */

.skewed-header
{
    position: relative;
    height: 400px;
    overflow: hidden;
    height: 190px;
    background-color: #11122b;



}

.skewed-header > .header-bg
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-size: 100%;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.skewed-header > .skewed-header-wrapper {

    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content
{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    
    
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper
{
    background-color:#cea135;
    color: #11122b;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 175px;
    padding: 10px;
    text-align: center;

    
    
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content > .link-wrapper
{
    width: 370px;
}







/* NAV Style*/

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;

}

.left-side { 
    display: flex;
    
}

.nav-wrapper >.left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;

}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom o.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;

}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}
/* Portfolio Style */

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 650px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-style: solid;
    

}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;

}

.logo-wrapper img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  
  
    
}

.portfolio-items-wrapper:hover .logo-wrapper{
    opacity: 1;
}

/* Needs to be more specific with selector */

.img-text-wrapper .subtitles {

    transition: 1s;
    font-weight: 600;
    color: transparent;
}


.img-text-wrapper:hover .subtitles {
    font-weight: 600;
    color: #cea125;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* About Page Styles*/

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-img-wrapper {
    width =100%
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}